[Unit]
Description=Course Bot
After=network.target

[Service]
User=tgbot
Group=tgbot
Type=simple
WorkingDirectory=/opt/tgbot
ExecStart=/bin/bash -c 'source venv/bin/activate && pip install -r requirements.txt && python bot.py'
Restart=always

[Install]
WantedBy=multi-user.target
